@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.group_and_chat_list {
  @include dis-flex(null, null, null, column);
  border-radius: $border-radius-xxxxl;
  height: fit-content;
  background-color: rgba(48, 48, 48);
  overflow: hidden;
}
